dist: focal
language: ruby
cache:
  directories:
     - ~/.rvm/gems
services:
  - postgresql
  - mysql
branches:
  only:
  - master
addons:
  postgresql: "9.6"
rvm:
  - "2.5.9"
  - "2.6.8"
  - "2.7.4"
  - "3.0.2"
gemfile:
  - gemfiles/rails_4.2.gemfile
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_5.2.gemfile
  - gemfiles/rails_6.0.gemfile
  - gemfiles/rails_6.1.gemfile
matrix:
  exclude:
    - rvm: "3.0.2"
      gemfile: gemfiles/rails_4.2.gemfile
    - rvm: "3.0.2"
      gemfile: gemfiles/rails_5.0.gemfile
    - rvm: "3.0.2"
      gemfile: gemfiles/rails_5.1.gemfile
    - rvm: "3.0.2"
      gemfile: gemfiles/rails_5.2.gemfile
env:
  - DB=postgresql
  - DB=sqlite3
  - DB=mysql2
before_install:
  - if [ "$BUNDLE_GEMFILE" = "$PWD/gemfiles/rails_4.2.gemfile" ]; then gem install bundler -v '1.17.3'; else gem install bundler -v '> 2'; fi
install:
  - if [ "$BUNDLE_GEMFILE" = "$PWD/gemfiles/rails_4.2.gemfile" ]; then bundle _1.17.3_ update; else bundle update; fi
before_script:
  - psql -c 'create database counter_culture_test;' -U postgres
  - mysql -e 'CREATE DATABASE counter_culture_test;'
script: TRAVIS=true bundle exec rake spec
